body {
    background-color: white;
    height: 275px;
    width: 750px;
    margin: 0 auto;
    text-align: center;
}

button {
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 22px;
    font: bold;
    background-color:beige;
}

output {
    margin: 25px auto;
    font-size: 36px;
    color:black;
}
